.Modal{
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    background: white;
    width:fit-content;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 10px;
    padding:3em 5.6em;
    font-family: "Inter";
    border-radius: 1em;;


}

.Title{
  font-size:2em;
  text-align: center;
  margin-bottom: 0.6em;;
}

.Radio{
  margin-right:0.2em;
}

.RadioOne{
  margin-right:2em;
  font-size:1em;
}

.Input{
  margin: 1em auto 0 ;
  margin-top:1em;
  border-radius:0.6em;
  border-style:solid;
  border: 1px solid rgb(68, 68, 68);
  padding: 2px 2px 2px 8px;
  font-size:1.1em;
}

.BtnContainer{
  width:100%
}

.Send{
  margin: 1.5em auto 0 auto;
  display:block;
  border:none;
  border-radius: 1em;
  padding: 0.2em 2.1em ;
  background-color: #35BE05;
  color: white;
 width:9em;
  height:1.6em;
  font-size:1.1em;
}

.Cancel{
  margin: 0.2em auto 0 auto;
  display:block;
  border:none;
  border-radius: 1em;
  padding: 0.2em 1.5em ;
  background-color: #ff0000;
  color: white;
  width:9em;
  height:1.6em;
  font-size:1.1em;
}

.Notice{
  color:red;
  font-size:0.8em;
}

.RadioContainer{
  font-size:1em;
}

.MasterContainer{
  width:20em;
  margin: 0 auto 0 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .Modal{
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 10px;
    /* padding:3em 5.6em; */
    font-family: "Inter";
    border-radius: 1em;;


}

.Title{
  font-size:1.4em;
  text-align: center;
  margin-bottom: 0.6em;;
}

.Radio{
  margin-right:0.2em;
}

.RadioOne{
  margin-right:2em;
  font-size:1em;
}

.Input{
  margin: 1em auto 0 ;
  margin-top:1em;
  border-radius:0.6em;
  border-style:solid;
  border: 1px solid rgb(68, 68, 68);
  padding: 2px 2px 2px 8px;
  font-size:1.1em;
}

.BtnContainer{
  width:100%
}

.Send{
  margin: 1.5em auto 0 auto;
  display:block;
  border:none;
  border-radius: 1em;
  padding: 0.2em 2.1em ;
  background-color: #35BE05;
  color: white;
 width:9em;
  height:1.6em;
  font-size:1.1em;
}

.Cancel{
  margin: 0.2em auto 0 auto;
  display:block;
  border:none;
  border-radius: 1em;
  padding: 0.2em 1.5em ;
  background-color: #ff0000;
  color: white;
  width:9em;
  height:1.6em;
  font-size:1.1em;
}

.Notice{
  color:red;
  font-size:0.8em;
}

.RadioContainer{
  font-size:1em;
}

.MasterContainer{

  margin: 0 auto 0 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}

}